<html>
   <body>
      <form method = "POST">
         <p>Search your lyrics</p>
         <p><input type = "text" name = "query" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <dev class="text" >
         <div style="white-space: pre-line"  charset="UTF-8">
            {% for result in results %}
              <ul>
                  <li><p style="font-weight: bold;">Name</p> {{result["name"]}} </li>
                  <li><p style="font-weight: bold;">Artist</p> {{result["artist"]}} </li>
                  <li><p style="font-weight: bold;">Genere</p> {{result["genere"]}} </li>
                  <li><p style="font-weight: bold;">Lyrics by</p> {{result["lyrics by"]}} </li>
                  <li><p style="font-weight: bold;">Music by</p> {{result["music by"]}} </li>
                  <li><p style="font-weight: bold;">Key</p> {{result["key"]}} </li>
                  <li><p style="font-weight: bold;">Views</p> {{result["views"]}} </li>
                  <li><p style="font-weight: bold;">Shares</p> {{result["shares"]}} </li>
                  <li><p style="font-weight: bold;">Lyrics</p> {{result["lyrics"]}} </li>
                 
              </ul>
              <p>==================================================================================</p>
            {% endfor %}
            
         </div>    
      </dev>
   </body>
</html>